<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
              background-color:#5DADE2;
            }
        .container{
              background-color:#2E86C1;
              border-radius:5px;
              border: 6px solid #3498DB;
              margin-top:50px;
            }
        .form{
              border:5px;
              margin-bottom:10px;
        }
        .btn {
            margin-bottom:30px;
        }
        input{
            font-weight: bold;

        }

</style>

</head>
<body>
	<div class="container">
        <center><h1 class="text-container"><b>Write Your Comments</b></h1></center>
        <div class="row">
            <div class="col-md-6">
                <form action=" " method="POST">
                    {% csrf_token %}
                    <h3><b>{{form}}</b></h3>
                    <br>
                    <center><input type="submit" value="submit" class="btn btn-default btn-lg" ></center>

                </form>
            </div>
        </div>
    </div>
</body>
</html>